/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient( #F8EDE3, #D0B8A8 );
} */


.content{
     height: 520px;
     width: 935px;
     border-radius: 20px;
     overflow: hidden;
     position: absolute;
     
     left: 50%;
     transform: translate(-50%); 
}


.navega{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{

    background-color: #fff;

}

input{ 
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}


.slide img{
    width: 100%;
    height: 100%;
}

#foto1:checked ~.s1{
    margin-left: 0;
    }
    
    #foto2:checked ~.s1{
    margin-left: -20%;
    }
    #foto3:checked ~.s1{
    margin-left: -40%;
    }
    #foto4:checked ~.s1{
    margin-left: -60%;
    }                    
    #foto5:checked ~.s1{
    margin-left: -80%;
    }
    
    .slide{
        width: 20%;
        transition: .6s;
    
    }




